body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    background: green;
    color: white;
    border: none;
}
